<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="yumi.mapper.IdGeneratorMapper">

    <select id="selectByCodeForUpdate" resultType="yumi.entity.IdGeneratorEntity">
        SELECT code, value, create_time, update_time
        FROM id_generator
        WHERE code = #{code}
        FOR UPDATE
    </select>

    <insert id="insertWithValue1">
        INSERT INTO id_generator (code, value)
        VALUES (#{code}, 1)
    </insert>

    <update id="incrementAndGet">
        UPDATE id_generator
        SET value = value + 1
        WHERE code = #{code};
        SELECT value FROM id_generator WHERE code = #{code}
    </update>

    <select id="selectValueByCode" resultType="java.lang.Long">
        SELECT value
        FROM id_generator
        WHERE code = #{code}
    </select>

</mapper>